.ssi-mBtn {
  float: left;
  margin: 6px 2px 4px 2px;
  padding: 8px 13px;
  cursor: pointer;
  color: white;
  border-radius: 3px;
  background-color: #346a9e;
  border: none;
  &:hover {
    background-color: #335588;
  }
  &:active {
    background-color: #254469;
  }
  &[disabled] {
    opacity: 0.7;
    pointer-events: none;
  }
  &.ssi-cancel {
    background-color: #d35450;
    &:hover {
      background-color: #b92d29;
    }
    &:active {
      background-color: #931e1d;
    }
  }
}//button
.ssi-mainModal{
  .ssi-optionBtn {
    display: inline-block;
    color: #1d7588;
    font-size: 15px;
    padding: 0 2px 0 2px;
  }
  .ssi-menuInput {
    height: 28px;
    float: left;
    margin: 7px 0 0 0;
    border: 1px solid #d6d6d6;
    width:100px;

  }
  .ssi-btnContainer {
    position: relative;

    @include mediumMedia {
      position: absolute;
      top: 33px;
      z-index: 1;
      display: none;
    }
    max-width: 220px;
    float: left;
    height: 38px;
    margin-top: 2px;
    display: none;
  }
  .ssi-inBtn {
    color: #232323;
    font-size: 10px;
    line-height: normal;
    cursor: pointer;
    float: left;
    margin: 7px 0 0 1px;
    background-color: #ffffff;
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    &:hover {
      background-color: #e8e8e8;
    }
    &:active {
      background-color: #cfcfcf;
      border: 1px solid #cccccc;
    }
    &:focus {
      outline: none;
    }
  }//button
}